<p style="color: green"><%= notice %></p>

<% content_for :title, "Students" %>

<h1>Students</h1>

<table>
  <thead>
    <tr>
      <th>Name |</th>
      <th>Program |</th>
      <th>Year Level |</th>
      <th>Department |</th>
      <th>Show Student |</th>
    </tr>
  </thead>
  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.name %></td>
        <td><%= student.program %></td>
        <td><%= student.year_level %></td>
        <td><%= student.department.name if student.department %></td>
        <td>
          <center><%= link_to "Show", student %></center>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "New student", new_student_path %>
