<p style="color: green"><%= notice %></p>

<% content_for :title, "Teachers" %>

<h1>Teachers</h1>

<table>
  <thead>
    <tr>
      <th>Name |</th>
      <th>Email |</th>
      <th>Specialization |</th>
      <th>Number Of Units |</th>
      <th>Monthly Salary |</th>
      <th>Staus |</th>
      <th>Department |</th>
      <th>Show Subject |</th>
    </tr>
  </thead>
  <tbody>
    <% @teachers.each do |teacher| %>
      <tr>
        <td><%= teacher.name %></td>
        <td><%= teacher.email %></td>
        <td><%= teacher.specialization %></td>
        <td><%= teacher.number_of_units %></td>
        <td><%= teacher.monthly_salary %></td>
        <td><%= teacher.status %></td>
        <td><%= teacher.department.name %></td>
        <td>
          <center><%= link_to "Show", teacher %></center>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New teacher", new_teacher_path %>